<% include ../layout/header %>
<link rel="stylesheet" href="/assets/css/register.css">

<div class="ui one column center aligned grid">
    <div class="column six wide form-holder">
        <h2 class="center aligned header form-head">Profil</h2>
        <div class="ui form">

            <% for(result of results){ %>
            <form action="/changePassword/<%= result.id %>" method="POST">

                <div class="field">
                    <input type="password" name="password" id="password" placeholder="password">
                </div>

                <div class="field">
                    <input type="password" name="password_two" id="password_two" placeholder="password">
                </div>

                <hr>
                <div class="field">
                    <input type="submit" value="Changer mon mot de passe" class="ui button large fluid green">
                </div>

            </form>
            <% } %>
        </div>
    </div>
</div>


<% include ../layout/footer %>