<% include ../layout/header %>
<link rel="stylesheet" href="/assets/css/register.css">

<div class="ui one column center aligned grid">
    <div class="column six wide form-holder">
        <h2 class="center aligned header form-head">Mot de passe oublié</h2>
        <div class="ui form">
            <form action="/forgotPassword" method="POST">

                <div class="field">
                    <input type="email" name="email" id="email" placeholder="email">
                </div>

                <hr>
                <div class="field">
                    <input type="submit" value="sign in" class="ui button large fluid green">
                </div>
                
            </form>
        </div>
    </div>
</div>


<% include ../layout/footer %>